<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.maomao.ssm.dao.UserCreditMapper" >
  <resultMap id="BaseResultMap" type="com.maomao.ssm.bean.UserCredit" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="credit_old" property="creditOld" jdbcType="BIGINT" />
    <result column="credit_new" property="creditNew" jdbcType="BIGINT" />
    <result column="credit_change" property="creditChange" jdbcType="BIGINT" />
    <result column="biz_id" property="bizId" jdbcType="INTEGER" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, user_id, credit_old, credit_new, credit_change, biz_id, type, create_time
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.maomao.ssm.bean.UserCreditExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from user_credit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from user_credit
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user_credit
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.maomao.ssm.bean.UserCreditExample" >
    delete from user_credit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.maomao.ssm.bean.UserCredit" >
    insert into user_credit (id, user_id, credit_old, 
      credit_new, credit_change, biz_id, 
      type, create_time)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{creditOld,jdbcType=BIGINT}, 
      #{creditNew,jdbcType=BIGINT}, #{creditChange,jdbcType=BIGINT}, #{bizId,jdbcType=INTEGER}, 
      #{type,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.maomao.ssm.bean.UserCredit" >
    insert into user_credit
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="creditOld != null" >
        credit_old,
      </if>
      <if test="creditNew != null" >
        credit_new,
      </if>
      <if test="creditChange != null" >
        credit_change,
      </if>
      <if test="bizId != null" >
        biz_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="creditOld != null" >
        #{creditOld,jdbcType=BIGINT},
      </if>
      <if test="creditNew != null" >
        #{creditNew,jdbcType=BIGINT},
      </if>
      <if test="creditChange != null" >
        #{creditChange,jdbcType=BIGINT},
      </if>
      <if test="bizId != null" >
        #{bizId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        #{type,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.maomao.ssm.bean.UserCreditExample" resultType="java.lang.Integer" >
    select count(*) from user_credit
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update user_credit
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null" >
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.creditOld != null" >
        credit_old = #{record.creditOld,jdbcType=BIGINT},
      </if>
      <if test="record.creditNew != null" >
        credit_new = #{record.creditNew,jdbcType=BIGINT},
      </if>
      <if test="record.creditChange != null" >
        credit_change = #{record.creditChange,jdbcType=BIGINT},
      </if>
      <if test="record.bizId != null" >
        biz_id = #{record.bizId,jdbcType=INTEGER},
      </if>
      <if test="record.type != null" >
        type = #{record.type,jdbcType=TINYINT},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update user_credit
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      credit_old = #{record.creditOld,jdbcType=BIGINT},
      credit_new = #{record.creditNew,jdbcType=BIGINT},
      credit_change = #{record.creditChange,jdbcType=BIGINT},
      biz_id = #{record.bizId,jdbcType=INTEGER},
      type = #{record.type,jdbcType=TINYINT},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.maomao.ssm.bean.UserCredit" >
    update user_credit
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="creditOld != null" >
        credit_old = #{creditOld,jdbcType=BIGINT},
      </if>
      <if test="creditNew != null" >
        credit_new = #{creditNew,jdbcType=BIGINT},
      </if>
      <if test="creditChange != null" >
        credit_change = #{creditChange,jdbcType=BIGINT},
      </if>
      <if test="bizId != null" >
        biz_id = #{bizId,jdbcType=INTEGER},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=TINYINT},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.maomao.ssm.bean.UserCredit" >
    update user_credit
    set user_id = #{userId,jdbcType=INTEGER},
      credit_old = #{creditOld,jdbcType=BIGINT},
      credit_new = #{creditNew,jdbcType=BIGINT},
      credit_change = #{creditChange,jdbcType=BIGINT},
      biz_id = #{bizId,jdbcType=INTEGER},
      type = #{type,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>